@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 30%;
    height: 70vh;
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; 
    margin-left: 5%;  
}

.bill{
    width: 40%;
    margin-left: 30%;
}

.nav{
    /* display: flex; */
    background-color: #07f;
    /* justify-content: space-between; */
    padding: 15px 10px;
    overflow: hidden;
    top: 1px;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.nav a{
    color: white;
    float: right;
    padding: 5px 10px;
    
}


nav ul li a:hover{
    color: #0077ff;
    font-size: 2rem;
}


nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #0077ff;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}


.active{
    float: left;
    margin-left: 0px;
}

button {   
    background-color: #07f;   
    width: 100%;  
     color: white;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }  

form {  
    width: 50%;
    height: auto;
    float: right;
    position: absolute;
    top: 20%;
    right: 5%;
    border: 3px solid #07f;   
 }   
input[type=text], input[type=password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid white;   
     box-sizing: border-box;   
 }  

 input[type=signup] .a{
    float: right;

 }
button:hover {   
     opacity: 0.7;   
 }  
 
 button a{
    color: white;
    text-decoration: none;
 }
 

/* .cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }    */
     
  
.container {   
     padding: 25px;   
     background-color: lightgray;  
 }   

 /* .container a{
    float: right;
 } */

 /*Sign Up Page*/


.form1{ 
    display: flex;
    background-color: lightgray ;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 30px;
    margin-top: -3%;

 }   


.input3{
    margin-top: 30px;
    width: 70%;
    padding: 12px 20px; 
}


.signup{
    background-color: #07f;   
    width: 100%;  
     color: white;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
}


/*About Us Page*/


.groupinfo {
    font-size: 1rem;
    list-style-type:none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    padding-top: 3px;

}
 /*Contact Us page*/


.form{
    display: flex;
    background-color: lightgray ;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 30px;
    margin-top: -3%;

}

.input1{
    margin-top: 20px;
    width: 70%;
    padding: 12px 20px;
   
}

.input2{
    margin-top: 30px;
    width: 70%;
    padding: 12px 20px;
    
}


#msg{
    width: 70%;
    padding: 10px;
    margin: 20px;
    
}

#send{
    padding: 10px;
    width: 20%;
    margin: 40px;
    border: none;
   
    font-size: 20px;
    color: white; 
    background-color: #07f;
    transition: all .5s ease;
    font-family: 'Times New Roman', Times, serif;
}

#send:hover{
   opacity: 0.7;  

}